# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod
boto3>=1.34.94
pandas>=2.2.2
python-dotenv>=1.0.1
amazon-textract-textractor~=1.8.2
pypdfium2>=4.30.0
pdf2image
